body{
    background-color: rgb(230, 187, 130);
}

.title {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: rgb(238, 209, 209);
}

p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}