body{
    background-color: rgb(200, 186, 167);
}

.title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

p {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px black solid;
    border-radius: 25px;
}